h1{
    text-align: center;
    color: #f2306c;
}
.message{
    color:green;
}
.container {
    text-align: center;
    border-radius: 5px;
    background-color: #ffc1bc;
    padding:10px;
    width: 50%;
}
table {
    align: center;
    border-collapse: collapse;
    width: 50%;
    border-radius:3px;
    background-color: #ffc821;
    padding: 20px;
    width: 30%;
}
td {
    text-align: center;
    text-align: center;
    width: 80%;
    padding: 12px;
    border: 1px solid #f2306c;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin-top: 6px;
    margin-bottom: 16px;

}
tr{background-color: #ffc1bc
}